.container{
    background-color: #7d7796;
    
}

.heading{
    color: black;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
   
}

.section-container{
    display: flex;
}

.left_data{
    margin-top: 3px;
    padding: 3px;
    width: '100%'
}

.submitButton{
    background-color: #234fde;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    border-style: none;
}

.account{
    margin-top: 8px;
    font-family: Roboto;
    font-size: 18px;
}

.signLink{
    color: green;
    font-weight: 700;
    font-size: 18px;
}