.container{   
    margin-top: 4px;
}

.section-container{
    display: flex;
    justify-content: space-between;
}

.left_data{
    margin-top: 3px;
    padding: 3px;
    width: '100%'
}

.heading{
    color: black;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


.submitButton{
    background-color: #234fde;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    margin-right: 10px;
}

.signupButton{
    background-color: #de9923;
    border-style: none;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
}

.btn-container{
    display: flex;
    margin: 10px;
}